#left {
float:left;
position:absolute;
left:100px;
top: 35%;
 }
 
#right {
float:right;
position:absolute;
right:100px;
top: 35%;
}

#pic {
position:absolute;
left: 10%;
right: 10%;
top: 30%;
}

#centerImage 
{
text-align:center;
display:block;
background-color:yellow;
}
/*width = "100%";border: 5px solid red;bottom:0%;bottom:0%;margin: 0;
height = "100%";margin: 20;border: 5px solid red;border: 5px solid red;
margin: 30%,70%,0%,0%,0%;
 position:absolute;left: 30%;border: 5px solid red;position:absolute;
left:50%;border: 5px solid red;
right:100px;
top:50%
border: 5px solid red;
#img {}
*/